.call-to-action-sec {
  background-color: var(--secondary-color);
  background-image: url("../img/stock/shot-of-a-yellow-an-gray-payphone-2025-02-02-13-59-39-utc.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 40px 0px;
}
.call-to-action-overlay {
  background-color: rgba(0, 0, 0, 0.65);
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.call-to-action-text {
  text-align: left;
}
.call-to-action-text {
  color: var(--text-color-light);
}
.call-to-action-text p {
  margin-bottom: 0;
}
.call-to-action-text h2 {
  color: var(--text-color-light);
  font-size: 30px;
  font-weight: bold;
}
.call-to-action-text a.btn {
  background: var(--text-color-light) none repeat scroll 0 0;
  border-radius: 0;
  color: var(--primary-color);
  float: right;
  font-weight: bold;
  padding: 14px 36px;
  text-transform: uppercase;
  margin-top: 10px;
}
.call-to-action-text a.btn:hover {
  background: var(--secondary-color);
  transition: all 0.4s ease-in-out 0s;
  color: var(--primary-color);
}
/*
23.404 Page Section 
======================*/
