.header-top {
  background: var(--primary-color-darker);
  border-bottom: 1px solid var(--border-color-primary);
  text-align: right;
}
.header-left ul {
  display: inline-block;
}
.header-left li {
  position: relative;
  display: inline-block;
  color: var(--text-color-light);
  padding: 14px;
  border-left: 1px solid var(--border-color-primary);
}
.header-left li:last-child {
  border-right: 1px solid var(--border-color-primary);
}
.header-left li i {
  color: var(--text-color-light);
  margin-right: 10px;
}
/*
4.Menu  Section
=================*/
.logo {
  padding: 20px 0;
}
.menu {
  display: inline-block;
  width: 100%;
}
.main-menu {
  display: inline-block;
  text-align: right;
}
.main-menu ul {
  margin: 0;
  padding: 0;
  position: relative;
}
.main-menu ul li {
  display: inline-block;
  padding: 0;
  position: relative;
}
.main-menu ul li a {
  color: var(--primary-color);
  display: block;
  padding: 40px 14px;
  text-decoration: none;
  transition: all 0.4s ease 0s;
  position: relative;
  font-weight: 600;
}
.main-menu ul li ul:hover .main-menu ul li a {
  background: var(--border-color-extra-light);
}
.main-menu ul li a:hover {
  transition: all 0.4s 0s ease;
  color: var(--primary-color);
}
.main-menu ul ul {
  background: var(--primary-color) none repeat scroll 0 0;
  left: 12px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 106px;
  transition: all 0.4s ease 0s;
  visibility: hidden;
  z-index: 99999;
  transition: all 0.3s ease 0s;
  border-top: 1px solid var(--secondary-color);
}
.main-menu ul ul li {
  float: none;
  width: 220px;
}
.main-menu ul ul li a {
  line-height: 120%;
  padding: 10px 20px;
  color: var(--text-color-light);
  border-bottom: 1px solid var(--border-color-secondary);
}
.main-menu ul ul li:last-child a {
  border-bottom: 0;
}
.main-menu ul ul li a:hover {
  color: var(--primary-color);
  background: var(--text-color-light);
}
.main-menu ul ul ul {
  top: 0;
  left: 100%;
}
.main-menu ul li:hover ul {
  visibility: visible;
  transition: all 0.4s ease 0s;
  opacity: 1;
}
.main-menu ul li a i {
  margin-left: 6px;
  font-size: 14px;
}
.appointment-button {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 28px 0;
  display: inline-block;
  width: 100%;
  text-align: right;
}
.appointment-button a {
  padding: 12px 26px;
  display: inline-block;
  font-size: 15px;
  width: 100%;
  text-align: center;
}
.appointment-button a:hover {
  color: var(--ui-btn-primary-text);
}
/*header top bottom*/
