.pagehding-sec {
  background-image: url("../img/stock/empty-square-floor-and-construction-site-silhouett-2025-10-16-04-30-59-utc.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  padding-top: 60px;
  position: relative;
  background-size: cover;
}
.page-heading h1 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
  color: var(--text-color-light);
}
