.pagehding-sec {
  background-image: url("../img/logo/seamless-pattern.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  padding-top: 60px;
  position: relative;
  background-size: cover;
}
.page-heading h1 {
  font-size: var(--ui-fs-h1);
  line-height: var(--ui-lh-h1);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--ui-tracking-heading-wide);
  font-weight: var(--ui-fw-h1);
  color: var(--text-color-light);
}
