<footer class="footer">
  <div class="footer-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer-widget-one">
            <a href="index.html"><img src="img/logo/bs-logo.svg" alt="BuiltSmart" /></a>
            <p>
              Waar bouwprofessionals tijd besparen door snel en gestructureerd toegang te krijgen tot betrouwbare
              informatie over bouwmaterialen.
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6"></div>

        <div class="col-md-3 col-sm-6">
          <div class="footer-widget-menu">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Business plan</a></li>
              <li><a href="#">Sponsors</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6"></div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <div class="copy-right">
            <p>Copyright 2025 &copy;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
