<footer class="footer">
  <div class="footer-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="footer-widget-one">
            <a href="index.html"><img src="img/logo/bs-logo-on-dark.svg" alt="BuiltSmart" /></a>
            <p>
              Waar bouwprofessionals tijd besparen door snel en gestructureerd toegang te krijgen tot betrouwbare
              informatie over bouwmaterialen.
            </p>
            <p class="footer-meta">POC voor residentiële bouwteams • Hasselt, België</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="footer-widget-menu">
            <h2>Product</h2>
            <ul>
              <li>
                <i class="ri-arrow-right-s-line footer-link-icon" aria-hidden="true"></i>
                <a href="index.html#ontdek">Wat is BuiltSmart?</a>
              </li>
              <li>
                <i class="ri-arrow-right-s-line footer-link-icon" aria-hidden="true"></i>
                <a href="index.html#waarom">Waarom BuiltSmart?</a>
              </li>
              <li>
                <i class="ri-arrow-right-s-line footer-link-icon" aria-hidden="true"></i>
                <a href="index.html#faq">Veelgestelde vragen</a>
              </li>
              <li>
                <i class="ri-arrow-right-s-line footer-link-icon" aria-hidden="true"></i>
                <a href="#" aria-disabled="true">Leden (binnenkort)</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-sm-6">
          <div class="footer-widget-menu">
            <h2>Bedrijf</h2>
            <ul>
              <li>
                <i class="ri-arrow-right-s-line footer-link-icon" aria-hidden="true"></i>
                <a href="index.html#team">Team</a>
              </li>
              <li>
                <i class="ri-arrow-right-s-line footer-link-icon" aria-hidden="true"></i>
                <a href="contact.html">Contact</a>
              </li>
              <li>
                <i class="ri-arrow-right-s-line footer-link-icon" aria-hidden="true"></i>
                <a href="index.html#partners">Partners</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="footer-widget-menu">
            <h2>Juridisch</h2>
            <ul>
              <li>
                <i class="ri-arrow-right-s-line footer-link-icon" aria-hidden="true"></i>
                <a href="privacybeleid.html">Privacybeleid</a>
              </li>
              <li>
                <i class="ri-arrow-right-s-line footer-link-icon" aria-hidden="true"></i>
                <a href="gebruiksvoorwaarden.html">Gebruiksvoorwaarden</a>
              </li>
              <li>
                <i class="ri-arrow-right-s-line footer-link-icon" aria-hidden="true"></i>
                <a href="cookiebeleid.html">Cookiebeleid</a>
              </li>
              <li>
                <i class="ri-arrow-right-s-line footer-link-icon" aria-hidden="true"></i>
                <a href="data-compliance.html">Data & compliance</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <div class="copy-right">
            <p>© 2026 BuiltSmart. Alle rechten voorbehouden.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="footer-bottom-note">
            <p>B2B digital product website • POC fase</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="cookie-banner" data-cookie-banner hidden>
  <div class="cookie-banner-inner">
    <p>
      BuiltSmart gebruikt geen tracking- of marketingcookies. We verwerken enkel gegevens die je zelf invult via het
      contactformulier.
      <a href="cookiebeleid.html">Lees meer</a>.
    </p>
    <button type="button" class="cookie-banner-close" data-cookie-dismiss aria-label="Sluit cookiemelding">
      Sluiten
    </button>
  </div>
</div>
