<header class="site-header">
  <div class="site-header-shell">
    <div class="container">
      <div class="site-header-meta">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <ul class="header-left site-header-info site-header-info-right">
              <li><i class="ri-building-line" aria-hidden="true"></i>POC voor residentiële bouwteams</li>
              <li><i class="ri-map-pin-line" aria-hidden="true"></i>Hasselt, België</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row site-header-row">
        <div class="col-md-3 col-sm-5 col-xs-8">
          <div class="site-logo-wrap">
            <a class="site-logo-link" href="index.html" aria-label="BuiltSmart home">
              <img src="img/logo/bs-logo.svg" alt="BuiltSmart" width="220" height="56" />
            </a>
          </div>
        </div>

        <div class="mobile-nav-menu"></div>

        <div class="col-md-7 col-sm-7 header-nav-col">
          <nav id="main-menu" class="site-nav main-menu" aria-label="Primary">
            <ul>
              <li><a href="index.html#ontdek">Wat is BuiltSmart?</a></li>
              <li><a href="index.html#waarom">Waarom BuiltSmart?</a></li>
              <li><a href="index.html#faq">FAQ</a></li>
              <li><a href="index.html#team">Team</a></li>
            </ul>
          </nav>
        </div>

        <div class="col-md-2 hidden-xs">
          <div class="site-header-cta">
            <a href="contact.html" class="btn btn--primary btn--filled">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
