<header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-8">
          <div class="header-left">
            <ul>
              <li><i class="ri-mail-line"></i>info@builtsmart.be</li>
              <li><i class="ri-map-pin-line"></i>Hasselt, België</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hd-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-8 col-sm-12">
          <div class="logo">
            <a href="index.html"><img src="img/logo/bs-logo.svg" alt="BuiltSmart" /></a>
          </div>
        </div>
        <div class="mobile-nav-menu"></div>
        <div class="col-md-7 col-sm-9">
          <div class="menu">
            <nav id="main-menu" class="main-menu">
              <ul>
                <li><a href="index.html#ontdek">Ontdek BuiltSmart</a></li>
                <li><a href="index.html#waarom">Waarom BuiltSmart?</a></li>
                <li><a href="index.html#team">Wie zijn wij?</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-2 col-sm-3">
          <div class="appointment-button">
            <a href="contact.html">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
